services:
  - type: web
    name: carsellia
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: SESSION_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: carsellia-db
          property: connectionString

databases:
  - name: carsellia-db
    plan: free
